@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient(
    to bottom,
    #6ba2d1,
    #70a5d5,
    #75a7da,
    #7aaade,
    #7face2,
    #7cb3e8,
    #78baee,
    #75c1f4,
    #68cefb,
    #5edafe,
    #5ae6fe,
    #5ff2fb
  );
  background-position: center;
  background-size: cover;
  /*color: black;*/
}

::-webkit-scrollbar{
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: rgba(136, 136,136,0.281);
}

/* Handle on Hover  */
::webkit-scrollbar-thumb:hover{
  background: #555;
}
